:root { padding: 2rem; }

body { font-family: arial, sans-serif; }

h1 { color: navy; }

.datepicker table tr td.disabled,
.datepicker table tr td.disabled.highlighted,
.datepicker table tr td.disabled:hover,
.datepicker table tr td.disabled.highlighted:hover {
  color: gray;
  background-color: gray;
}
